<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>GrassRootCRM</title>
</head>
<body>
    <div class="global-wrapper">
        <div class="navigation">
            <div class="branding">
                <img src="/static/CRMlogo-final.png" alt="Logo">
                <h1>GrassRootCRM</h1>
            </div>
            <div class="links">
                <a href="/logout" class="logout">Logout</a>
            </div>
        </div>
        <div class="sidebar">
            <h2>Welcome, User</h2>
            <div class="sidebar_button">
                <a href="/new/company">Create Company</a>
            </div>
            <div class="sidebar_button">
                <a href="/">My Customers</a>
            </div>
        </div>
    </div>
</body>
</html>